{% extends 'layout.html' %}
{% block content %}
<body>
    <p class="page_name">検索画面</p>
    {% for entry in entries %}
        <p class="username">{{ entry.username }}</p>
    {% endfor %}
    <div class="box">
        <form action="/search" method="POST" class="input_isbm">
            <div>
                <label for="formFile">isbn</label>
                <input class="input_isbm" type="text" name="ISBN" step="1.0" max="120" required>
                <button type="submit" class="btn">検索</button>
            </div>
            <textarea rows="10" cols="60">ここに記入してください</textarea>
        </form>
    <p class="cr">＊ハイフンはいりません</p>
    {% for message in get_flashed_message() %}
    <div>
        {{message}}
    </div>
    {% endfor %}
    </div>
</body>
{% blockend %}

