<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.6.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
{% extends 'layout.html' %}
{% block content %}
<body>
<a class="add_button" href="/add">本を追加する</a>
<div class="review_wrapper">
    {% for book in books %}
        <button type="button" class="review_item" data-toggle="modal" data-target="#testModal">
            <img src="{{ book.image_pass }}" alt="entry_image" class="book_image">
            <p>タイトル:{{ book.book_title }}</p>
            <p>作者:{{ book.book_author }}</p>
        </button>
        <!-- モーダル開始 -->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>感想</h4>
                    </div>
                    <div class="modal-body">
                        <label>{% for review in reviews %}
                            {% if review.isbn == book.isbn %}
                            <p>{{review.comment}}</p>
                            {% endif %}
                            {% endfor %}
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        <a type="button" href="{{ url_for('edit',isbn=book.isbn) }}">編集する</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- モーダル終了 -->
    {% else %}
    <div class="n">本がありません</div>
    {% endfor %}
    </div>
</body>
{% endblock %}