<html>
    <head>
        <link rel="stylesheet" href="../static/css/top.css">
        <script src="../static/js/jquery-3.6.3.min.js"></script>
        <script src="../static/js/top.js"></script>
        <title>Stawis</title>
    </head>
    <header id="nav" class="nav">
        <div class="t">
            <h3>Stawis</h3>
            <p>読書管理アプリ</p>
        </div>
        <form action="/login" method="GET" type="button" >ログイン</form>
        <div class="has-sub">
            <a class="me">stawisについて</a>
            <ul class="sub">
                <li><a class="sub1" id="sub1" onclick="scroll_towa()">Stawisとは</a></li>
                <li><a class="sub2" id="sub2" onclick="scroll_toro()">使い方</a></li>
            </ul>
        </div>
        

    </header>
    <a class="fixed" onclick="scroll_top()">↑</a>
    <img  class="sha" src="../static/img/top1.jpg">
    <body>
        <p class="catch">読書を管理しよう</p>
        <div class="button">
            <form action="/register" method=POST></form>
            <a class="sin" type="button" href="register.html">新規登録</a>
        </div>
        <div class="tejun" id="towa">
            <h1 class="tt">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stawisとは&emsp;</h1>
            <img  class="doku" src="../static/img/top2.jpg">
            <div class="ye">
                <h3 class="kanri">読書管理システムです</h3>
                <p>登録した本が未読か既読か、読書中の本をどこまで読んだかを一目で確認できます。また、本にメモや感想を残すこともできます。</p>
                <a  class="kuwa"type="button">詳しく</a>
            </div>
        </div>
        <div class="tejun2" id="toro">
            <h1 class="tt2">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stawis使い方&emsp;</h1>
            <img class="doku2" src="../static/img/top3.jpg">
            <div class="ye2">
                <h3 class="kanri2">簡単に登録できてすぐに使えます</h3>
                <p>新規登録をし、ログインをしたら、これから読む本を追加するだけです。</p>
                <a  class="kuwa2" type="button">詳しく</a>
            </div>
        </div>
    </body>
    <footer>
        <form action="/register" method=POST></form>
        <a class="sin2" type="button" href="register.html">新規登録</a>
    </footer>
</html>
